In [1]:
import pandas as pd
import numpy as np
import pickle
import json
import sys
sys.path.append('.')

### Load Best Model

In [3]:
ctabgan_best = pickle.load(open('../research/best_models/ctabgan_best_model/pklmodel.pkl', 'rb'))

### Conditional Sampling

In [ ]:
ctabgan_best

### Evaluate the Results

In [28]:
with open('wandb/offline-run-20240513_121256-76t0iykt/files/media/table/Classification Results_305_46aa8d602dd61325aed1.table.json', 'r') as file:
    ctabgan_cr = json.load(file)

In [29]:
ctabgan_cr = pd.DataFrame(columns=ctabgan_cr["columns"], data=ctabgan_cr["data"])

In [38]:
ctabgan_cr[ctabgan_cr["Model"] != "lr"].drop(["Model"],axis=1).groupby(["Type"]).mean().sort_values(by="F1_Score", ascending=False).head(100)

                  Acc       AUC  F1_Score
Type
Real        78.477329  0.902061  0.640233
Fake        54.869256  0.852996  0.581444
Difference  23.608073  0.049066  0.058789

In [30]:
ctabgan_cr.drop(["Model"],axis=1).groupby(["Type"]).mean().sort_values(by="F1_Score", ascending=False).head(100)

                  Acc       AUC  F1_Score
Type
Real        78.035474  0.891350  0.584898
Fake        52.619821  0.832858  0.495669
Difference  25.415653  0.058492  0.089229