In [23]:
import pandas as pd
import numpy as np

data = np.load('util/data/malware.npz')

In [36]:
data.items()

ItemsView(<numpy.lib.npyio.NpzFile object at 0x000001B39C56ABC0>)

In [33]:
# Get unique values of each column and put them in a dictionary
i2s= {}
size = {}
for column in data.columns:
    if data[column].dtype in ('object','int64'):
        i2s[column] = list(data[column].unique())
        size[column] = list(data[column].unique()).__len__()
    else:
        i2s[column] = pd.NA
        size[column] = pd.NA

In [34]:
size

{'time_of_day': <NA>,
 'duration': <NA>,
 'proto': 3,
 'src_pt': <NA>,
 'dst_pt': <NA>,
 'packets': <NA>,
 'bytes': <NA>,
 'tcp_con': 2,
 'tcp_ech': 2,
 'tcp_urg': 1,
 'tcp_ack': 2,
 'tcp_psh': 2,
 'tcp_rst': 2,
 'tcp_syn': 2,
 'tcp_fin': 2,
 'label': 5,
 'attack_type': 5,
 'attack_id': 18,
 'day_of_week': 4,
 'src_ip_1': <NA>,
 'src_ip_2': <NA>,
 'src_ip_3': <NA>,
 'src_ip_4': <NA>,
 'dst_ip_1': <NA>,
 'dst_ip_2': <NA>,
 'dst_ip_3': <NA>,
 'dst_ip_4': <NA>}

In [35]:
# get min and max values of each column and put them in a dictionary
min = {}
max = {}
for column in data.columns:
    if data[column].dtype not in ('object','int64'):
        min[column] = data[column].min()
        max[column] = data[column].max()
    else:
        min[column] = pd.NA
        max[column] = pd.NA

In [36]:
max

{'time_of_day': 0.9999768518518518,
 'duration': 1.0,
 'proto': <NA>,
 'src_pt': 1.0,
 'dst_pt': 1.0,
 'packets': 1.0,
 'bytes': 1.0,
 'tcp_con': <NA>,
 'tcp_ech': <NA>,
 'tcp_urg': <NA>,
 'tcp_ack': <NA>,
 'tcp_psh': <NA>,
 'tcp_rst': <NA>,
 'tcp_syn': <NA>,
 'tcp_fin': <NA>,
 'label': <NA>,
 'attack_type': <NA>,
 'attack_id': <NA>,
 'day_of_week': <NA>,
 'src_ip_1': 0.996078431372549,
 'src_ip_2': 0.996078431372549,
 'src_ip_3': 0.996078431372549,
 'src_ip_4': 1.0,
 'dst_ip_1': 1.0,
 'dst_ip_2': 1.0,
 'dst_ip_3': 1.0,
 'dst_ip_4': 1.0}

In [37]:
# type of each column
type = {}
for column in data.columns:
    if data[column].dtype in ('object','int64'):
        type[column] = "categorical"
    else:
        type[column] = "continuous"

In [38]:
max.values()

dict_values([0.9999768518518518, 1.0, <NA>, 1.0, 1.0, 1.0, 1.0, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, 0.996078431372549, 0.996078431372549, 0.996078431372549, 1.0, 1.0, 1.0, 1.0, 1.0])

In [71]:
# create a pandas dataframe with the information
info = pd.DataFrame({'max': max.values(), 'min': min.values(), 'name': max.keys(), 'type': type.values(), 'i2s': i2s.values(), 'size': size.values()})

In [80]:
info = info.to_dict("records")

In [56]:
import json

In [83]:
info = info.to_json("../thesisGAN/input/itgan_metadata.json",orient="records")

In [84]:

with open("../thesisGAN/input/itgan_metadata.json") as f:
    info_json = json.load(f)

In [85]:
info_json

[{'max': 0.9999768519,
  'min': 0.0,
  'name': 'time_of_day',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'duration',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': None,
  'min': None,
  'name': 'proto',
  'type': 'categorical',
  'i2s': ['TCP', 'UDP', 'ICMP'],
  'size': 3},
 {'max': 1.0,
  'min': 0.0,
  'name': 'src_pt',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'dst_pt',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'packets',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'bytes',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': None,
  'min': None,
  'name': 'tcp_con',
  'type': 'categorical',
  'i2s': [0, 1],
  'size': 2},
 {'max': None,
  'min': None,
  'name': 'tcp_ech',
  'type': 'categorical',
  'i2s': [0, 1],
  'size': 2},
 {'max': None,
  'min': None,
  'name': 'tcp_urg',
  'type': 'categorical',
  'i2s': [0],
  'size': 1},
 {'max': None,
  'min': None,
  'name': 'tcp_ack',
  'type': 'categorical',
  'i2s': [0, 1],
  'size': 2},
 {'max': None,
  'min': None,
  'name': 'tcp_psh',
  'type': 'categorical',
  'i2s': [0, 1],
  'size': 2},
 {'max': None,
  'min': None,
  'name': 'tcp_rst',
  'type': 'categorical',
  'i2s': [0, 1],
  'size': 2},
 {'max': None,
  'min': None,
  'name': 'tcp_syn',
  'type': 'categorical',
  'i2s': [1, 0],
  'size': 2},
 {'max': None,
  'min': None,
  'name': 'tcp_fin',
  'type': 'categorical',
  'i2s': [0, 1],
  'size': 2},
 {'max': None,
  'min': None,
  'name': 'label',
  'type': 'categorical',
  'i2s': ['suspicious', 'normal', 'unknown', 'attacker', 'victim'],
  'size': 5},
 {'max': None,
  'min': None,
  'name': 'attack_type',
  'type': 'categorical',
  'i2s': ['benign', 'dos', 'portScan', 'pingScan', 'bruteForce'],
  'size': 5},
 {'max': None,
  'min': None,
  'name': 'attack_id',
  'type': 'categorical',
  'i2s': [0,
   18,
   19,
   20,
   21,
   22,
   23,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   32,
   33,
   34],
  'size': 18},
 {'max': None,
  'min': None,
  'name': 'day_of_week',
  'type': 'categorical',
  'i2s': ['Friday', 'Saturday', 'Sunday', 'Monday'],
  'size': 4},
 {'max': 0.9960784314,
  'min': 0.0,
  'name': 'src_ip_1',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 0.9960784314,
  'min': 0.0,
  'name': 'src_ip_2',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 0.9960784314,
  'min': 0.0,
  'name': 'src_ip_3',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'src_ip_4',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'dst_ip_1',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'dst_ip_2',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'dst_ip_3',
  'type': 'continuous',
  'i2s': None,
  'size': None},
 {'max': 1.0,
  'min': 0.0,
  'name': 'dst_ip_4',
  'type': 'continuous',
  'i2s': None,
  'size': None}]

In [61]:
with open("util/data/adult.json") as f:
    columns_data = json.load(f)

In [69]:
columns_data

{'columns': [{'max': 90.0, 'min': 17.0, 'name': 'age', 'type': 'continuous'},
  {'i2s': ['Private',
    'Self-emp-not-inc',
    'Local-gov',
    '?',
    'State-gov',
    'Self-emp-inc',
    'Federal-gov',
    'Without-pay',
    'Never-worked'],
   'name': 'workclass',
   'size': 9,
   'type': 'categorical'},
  {'max': 1484705.0, 'min': 12285.0, 'name': 'fnlwgt', 'type': 'continuous'},
  {'i2s': ['Preschool',
    '1st-4th',
    '5th-6th',
    '7th-8th',
    '9th',
    '10th',
    '11th',
    '12th',
    'HS-grad',
    'Prof-school',
    'Assoc-voc',
    'Assoc-acdm',
    'Some-college',
    'Bachelors',
    'Masters',
    'Doctorate'],
   'name': 'education',
   'size': 16,
   'type': 'ordinal'},
  {'max': 16.0, 'min': 1.0, 'name': 'education-num', 'type': 'continuous'},
  {'i2s': ['Married-civ-spouse',
    'Never-married',
    'Divorced',
    'Separated',
    'Widowed',
    'Married-spouse-absent',
    'Married-AF-spouse'],
   'name': 'marital-status',
   'size': 7,
   'type': 'categorical'},
  {'i2s': ['Prof-specialty',
    'Craft-repair',
    'Exec-managerial',
    'Adm-clerical',
    'Sales',
    'Other-service',
    'Machine-op-inspct',
    '?',
    'Transport-moving',
    'Handlers-cleaners',
    'Farming-fishing',
    'Tech-support',
    'Protective-serv',
    'Priv-house-serv',
    'Armed-Forces'],
   'name': 'occupation',
   'size': 15,
   'type': 'categorical'},
  {'i2s': ['Husband',
    'Not-in-family',
    'Own-child',
    'Unmarried',
    'Wife',
    'Other-relative'],
   'name': 'relationship',
   'size': 6,
   'type': 'categorical'},
  {'i2s': ['White',
    'Black',
    'Asian-Pac-Islander',
    'Amer-Indian-Eskimo',
    'Other'],
   'name': 'race',
   'size': 5,
   'type': 'categorical'},
  {'i2s': ['Male', 'Female'], 'name': 'sex', 'size': 2, 'type': 'categorical'},
  {'max': 99999.0, 'min': 0.0, 'name': 'capital-gain', 'type': 'continuous'},
  {'max': 4356.0, 'min': 0.0, 'name': 'capital-loss', 'type': 'continuous'},
  {'max': 99.0, 'min': 1.0, 'name': 'hours-per-week', 'type': 'continuous'},
  {'i2s': ['United-States',
    'Mexico',
    '?',
    'Philippines',
    'Germany',
    'Canada',
    'Puerto-Rico',
    'El-Salvador',
    'India',
    'Cuba',
    'England',
    'Jamaica',
    'South',
    'China',
    'Italy',
    'Dominican-Republic',
    'Vietnam',
    'Guatemala',
    'Japan',
    'Poland',
    'Columbia',
    'Taiwan',
    'Haiti',
    'Iran',
    'Portugal',
    'Nicaragua',
    'Peru',
    'Greece',
    'France',
    'Ecuador',
    'Ireland',
    'Hong',
    'Trinadad&Tobago',
    'Cambodia',
    'Thailand',
    'Laos',
    'Yugoslavia',
    'Outlying-US(Guam-USVI-etc)',
    'Hungary',
    'Honduras',
    'Scotland',
    'Holand-Netherlands'],
   'name': 'native-country',
   'size': 42,
   'type': 'categorical'},
  {'i2s': ['<=50K', '>50K'],
   'name': 'label',
   'size': 2,
   'type': 'categorical'}],
 'problem_type': 'binary_classification'}

In [12]:
# convert columns_data json file to a pandas dataframe that extracts the column names and the data types
columns = pd.DataFrame(columns_data['columns'])
columns

,max,min,name,type,i2s,size
0,90.0,17.0,age,continuous,NaN,NaN
1,NaN,NaN,workclass,categorical,"[Private, Self-emp-not-inc, Local-gov, ?, Stat...",9.0
2,1484705.0,12285.0,fnlwgt,continuous,NaN,NaN
3,NaN,NaN,education,ordinal,"[Preschool, 1st-4th, 5th-6th, 7th-8th, 9th, 10...",16.0
4,16.0,1.0,education-num,continuous,NaN,NaN
5,NaN,NaN,marital-status,categorical,"[Married-civ-spouse, Never-married, Divorced, ...",7.0
6,NaN,NaN,occupation,categorical,"[Prof-specialty, Craft-repair, Exec-managerial...",15.0
7,NaN,NaN,relationship,categorical,"[Husband, Not-in-family, Own-child, Unmarried,...",6.0
8,NaN,NaN,race,categorical,"[White, Black, Asian-Pac-Islander, Amer-Indian...",5.0
9,NaN,NaN,sex,categorical,"[Male, Female]",2.0
10,99999.0,0.0,capital-gain,continuous,NaN,NaN
11,4356.0,0.0,capital-loss,continuous,NaN,NaN
12,99.0,1.0,hours-per-week,continuous,NaN,NaN
13,NaN,NaN,native-country,categorical,"[United-States, Mexico, ?, Philippines, German...",42.0
14,NaN,NaN,label,categorical,"[<=50K, >50K]",2.0